
.kuva{
    height: 42px;
    width: 42px;
    margin-right: 5px; 
}
.tulossolu {
    text-overflow: ellipsis; 
    overflow: hidden; 
    white-space: nowrap;
}
Header{
    overflow: hidden;
}

/*Footerin sponsori-kuvat*/
.spnrs{
    height: 40%;
    width: 40%;
    max-height: 250px;
    max-width: 250px;
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

/*Footerin pito aina sivun contentin alla, min-height 100vh  luo scroll barin vaikka sisältöä sivulla ei olisi*/
.container {
    position: relative;
    min-height: 100vh;
    margin-top: 1%;
    margin-bottom: 1%;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: auto;
    
  }
  .App {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, rgba(136,136,136,0.9) 0%, rgba(52,60,68,0.9) 69%, rgba(52,60,68,0.9) 88%, rgba(52,60,68,0.9) 100%), url('https://hovikuvaaja.com/poupeto/2pp.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
  
.footer{
    text-align: center;
}

#nextMatch-border {
    margin-top:5px;
    border-top:px solid black;
}

#nextMatch{
    background-color: linear-gradient(to left, transparent, #343a40, #343a40, transparent);
    /* border-bottom: 1px solid; */
    width:100% ;
    border-bottom: 4px solid black;
    height: 250px;
    color: black;
    overflow: hidden;
    
    
}
 .kuva-banner{ 
    height: 100%;
    width: 100%;
    margin-top: 3px;
    max-height: 150px;
    max-width: 150px;  
} 
@media only screen and (max-width: 800px) {
    .kuva-banner{
        max-width: 80px;
        max-height: 80px;
    }
    .ylimaaraiset{
        display: none;
    }
}
.ottelu-kuva{
    text-align: center;


}

.kuva-banner {
    object-fit: scale-down;
}

.ottelu-teksti{
    margin-top: 20px;
    text-align: center;
}
.card-header {
    margin-top: 5%;
    text-align: center;
}
.card {
    margin-top: 5%
}
.yht {
    text-align: center;
    margin-top: 3%;
}
  .nav-link:hover{
    transform: scale(1.1);
    background-color: black;
}
.pelaajaLinkki:hover{
    font-weight: 700;
    color: black;
    
}
.nav-link {
    text-align: left;
}
#navbarSupportedContent{
    margin-top: 50px;
}
.navbar{
    border-bottom: 60px solid black;
}
@media only screen and (max-width: 399px) {
    .nav-link{
        text-align: left;
    }
}
@media only screen and (max-width: 399px) {
    #logo{
        height: 60px;
        width: 60x;
    }
}
@media only screen and (max-width: 800px) {
    .ottelu-teksti{
        display: none;
    }
    #nextMatch{
        height:300px;
    }
}
@media only screen and (min-width: 800px) {
    .ottelu-teksti{
        display: none;
    }
    #nextMatch{
        height:300px;
    }
}
.teksti-banner{
    margin-top: 90px;
    text-align: center;
    margin-right: 5%;
    margin-left: 5%;
}
.nimi-banner{
    font-size: large;
    font-weight: 100;
    text-align: center;
}
.maalivahdit{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}

.puolustajat{

    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}


.hyokkaajat{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
}
.pelaajat-rivi {
    font-size: larger;
    font-weight: 500;

}
#vali{
    max-width: 300px;
}
.col{
      text-align: center;
      
  }
  .picture-left{
      height: 100%;
      width: 100%;
      margin-top: 2%;
  }
  .picture-right{
    height: 100%;
    width: 100%;
    margin-top: 2%;
}
.viiva {
    height: 5px;
    border-bottom: 5px solid grey;
}
.viiva-ohut {
    height: 2px;
    border-bottom: 2px solid grey; 
}
h2{
    text-align: center;
}
.contacts {
    font-weight: 600;
}
.col-sm {
    margin-top: 5%;
    margin-bottom: 5%;
}
.otsikkoteksti {
    font-size: xx-large;
    font-weight: 900;

    margin-bottom: 1%;
    text-align: center;
}
  @media only screen and (min-width: 401px) {
    .navbar-brand{
        height: 80px;
        width: 80px;
        padding-right: 100px;
    }
  }
  @media only screen and (max-width: 401px) {
    .nimi-banner{
        display: none;
    }
}

  #navbarSupportedContent{
      width: 1100px;
      margin-left: 25%;
      
  }
 .teksti{
    font-weight: 600;
    font-size: x-large;  
}
  body{
    font-family: 'Poppins', sans-serif;
  }
  .table, tbody{
      width:100%;
  }
  .kotisivuContent{
      font-size: large;
      
  }

  @media screen and (min-width: 500px){
    .picture-left{
        min-width: 450px;
        max-height: 500px;
    }
    .picture-right{
      min-width: 450px;
      max-height: 500px;
  }
    .content-upper{
      min-width: 480px; 
    }
    .content-bottom{
      min-width: 480px; 
    }
  }

  
  @media screen and (max-width: 527px){
    .show-desktop {
        display: none;
    }
    #piilota { 
        display: none;
    }
    .piilotaNimi{
        display: none;
    }
}

/* Desktop */
@media only screen and (min-width: 527px) {
    .show-mobile {
        display: none;
    }
}
